<p>News</p>
<div class="row mt-3">

  <div Class="card p-1">

    <div class="card-body">
      <h2>Part 2 of twilliet</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, veniam modi! Ipsa eum fugit omnis iure.
        Labore minus fugit modi voluptatibus, sequi consectetur quasi expedita, nihil at quos corrupti distinctio.</p>
    </div>
    <div class="card-body">
      <h2>Celebreties New Production</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, veniam modi! Ipsa eum fugit omnis iure.
        Labore minus fugit modi voluptatibus, sequi consectetur quasi expedita, nihil at quos corrupti distinctio.</p>
    </div>
    



  </div>


</div>
